[tool.poetry]
name = "tsfy"
version = "0.4.0"
description = ""
authors = ["Xiaocong Sun <xiaocong.sun@unianalysis.com>"]

[tool.poetry.dependencies]
python = "^3.8"
python-dateutil = "^2.8.2"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.12b0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
